
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 10px;
    padding: 0;
}

/* html{
    width: 100vh;
    height: 100vh; */
/* } */

body{
   
    background-color:#001524 ;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
button{
    all: unset;
    cursor: pointer;
    background-color: #17594A;
    color:#8EAC50;
    padding: 10px;
    border-radius:20px ;
    margin:10px;
}

.second-section {
    /* width: 80vh;
    height: 70vh; */
    background-color: #445D48;
    padding: 30px;
    /* margin: px; */
    border-radius: 20px;
    color: #D6CC99;

}

#username{
    text-align: center;
    background-color: #607274;
    border-style:none ;
    color:white;
    border-radius: 20px;
    padding: 10px;
    
}

#username::placeholder{
    color:#B2B2B2 ;
    font-weight: 600;
}
