*{
    margin: 0;
    padding: 0;
}
.container{
    /* width: 100vw;
    height: 100vh; */
    background-color: #31304D;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius:20px;
    margin: 10px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #161A30;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#btn{
    all: unset;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #B6BBC4;
    color:#001524;
    padding:5px 20px;
    border-radius:20px;
    margin:20px;
    font-size: 20px;
    cursor: pointer;
}
input{
    background-color: white;
    padding:5px 20px;
    border-radius:10px;
    margin:20px;
    border: none;
}

h1{
    color:#F0ECE5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img{
    width: 35px;
}

#show{
    all:unset;
    cursor: pointer;
}

.fneeded{
    display: flex;
    align-items: center;
    justify-content: center;
    
}